{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mainpageapp/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="container bootstrap snippets bootdeys">
<div class="row">
    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                <div class="content">
                    <h6 class="category">Best cards</h6>
                    <h4 class="title"><a href="sep/1">Blue Card</a></h4>
                    {%for i in data_1%}
                    <p class="description">{{i.first}}</p>
                    {%endfor%}
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6 content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                <div class="content">
                    <h6 class="category">Best cards</h6>
                    <h4 class="title"><a href="sep/2">Green Card</a></h4>
                    <p class="description">{{i.first}}</p>
                    {%endfor%}
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>
</div>
</body>
</html>